.main-chat
  .group-info
    .group-info__group
      .group-info__group-name
        = @group.name
      %ul.group-info__member-list
        = @group.users
        %li.group-info__member
    .group-info__edit
      = link_to edit_group_path(@group) do
        Edit

  .message-field
    = render @messages
    .message-box
      .message-info
        .message-info__name
          鈴木琴也
        .message-info__date
          faa
      .message
        こんにちは

  .footer
    = form_with model: [@group, @message], html: {class: "form"}, local: true do |f|
      .form__contents
        = f.text_field :content, class: 'form__input-content', placeholder: 'type a message'
        = f.label :image, class: 'form__input-image' do
          = icon('far', 'image', class: 'Form__icon')
          = f.file_field :image, class: 'hidden'
      = f.submit 'Send', class: 'form__submit'