.side-bar
  .side-header
    .side-header__box
      %p.side-header__user-name
        鈴木琴也
      %ul.side-header__icons
        %li.side-header__icon
          = link_to "#" do
            = icon('fas', 'edit')
        %li.side-header__icon
          = link_to "#" do
            = icon('fas', 'cog')

  .group-list
    .group
      = link_to '#' do
        .group__group-name
          faa
        .group__message
          faa